//fonts

// Regular, weight: 400
@font-face {
  font-family: "Gill Sans";
  src: url(fonts/gill-sans.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

// 700 bold
@font-face {
  font-family: "Gill Sans";
  src: url(fonts/gill-sans.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}

// italic
@font-face {
  font-family: "Gill Sans";
  src: url(fonts/gill-sans-italic.otf) format("otf");
  font-weight: 400;
  font-style: italic;
}

// light
@font-face {
  font-family: "Gill Sans";
  src: url(fonts/gill-sans-light.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}

// downloaded via Adobe CC
//transferred per https:github.com/echeno/adobe-font-extractor */
@font-face {
  font-family: "Proxima Nova Extra Condensed Thin";
  src: url(fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
  font-weight: 100;
  font-style: normal;
}

/* typography */
$body-font-family: "Gill Sans, sans-serif";
$title-font-family: "Proxima Nova Extra Condensed Thin, sans-serif";
